<h3>Edit Recipe</h3>
<h2>Recipe Name: <%= @recipe.name %></h2>
<h4>Recipe Ingredients: <%= @recipe.ingredients %></h4>
<h4>Recipe Cook Time: <%= @recipe.cook_time %></h4>

<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="text" name="name" placeholder="Recipe Name:">
  <input type="textarea" name="ingredients" placeholder="Ingredients:">
  <input type="text" name="cook_time" placeholder="Cook Time:">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="Submit">
</form>
